.btn_submit {
   font-weight: bold;
   margin: 15 0 10 0;
   width: 250px;
   height: 40px;
   border-radius: 3px;
   font-family: "nanum";
   font-size: 16px;
   color: #fff;
   background: linear-gradient(to right, #B06AB3, #4568DC);
   background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
   border: none;
}

.input_tag {
	font-size: 16px;
}

.btn_collection {
   font-weight: bold;
   margin: 15 0 10 0;
   width: 90px;
   height: 24px;
   border-radius: 3px;
   font-family: "nanum";
   font-size: 14px;
   color: #fff;
   background-color: #E8CE48;
   border: none;
}

.btn_set {
   font-weight: bold;
   margin: 15 0 10 0;
   width: 90px;
   height: 24px;
   border-radius: 3px;
   font-family: "nanum";
   font-size: 14px;
   color: #fff;
   background: linear-gradient(to right, #B06AB3, #4568DC);
   background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
   border: none;
}

.btn_delete {
	font-weight: bold;
   margin: 15 0 10 0;
   width: 90px;
   height: 24px;
   border-radius: 3px;
   font-family: "nanum";
   font-size: 14px;
   color: #000;
   background-color: #aaaa;
   border: none;
}

.btn_write {
   position: relative;
   left: 33%;
   top: 15px;
   padding: 7px 17px 7px 17px;
   border-radius: 3px;
   font-family: "nanum";
   font-weight: bold;
   font-size: 13px;
   background-color: #aaaa;
}